@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import "../../mixer.scss";

.head {
  margin: 0px;
  padding: 20px;
  @include purple;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  // backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  border-radius: 15px;
  background-color: aliceblue;
}

.advisory {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advisory p {
  width: 100%;
  @include modalText;
  margin: 20px;
}
.advisoryBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.advisoryBtn button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  padding: 3px 10px;
  @include modalText;
  @include purple;
  color: white;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
    // margin:auto // alternative center option
  }
}
