@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import "../mixer.scss";
* {
  //$ Start CSS by Resetting Styles
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none; // remove bullets
  margin-left: 10px;
  margin-right: 10px;
}
.list > li:first-child {
  margin-top: 10px;
}
.list > li {
  @include grayBorder;
  @include tinyMarginBottom;
  padding-inline-start: 0px;
  padding: 2px;
  font-size: 14px;
}

.list > li:last-child {
  margin-bottom: 10px;
}
