@mixin purple {
  background-color: #401434;
}
@mixin grayBorder {
  border: 2px solid rgb(228, 225, 225);
}
@mixin smallMargin {
  margin: 10px;
}
@mixin tinyMarginBottom {
  margin-bottom: 5px;
}
@mixin modalText {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
@mixin standardText {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
@mixin borderRadius {
  border-radius: 10px;
}
